<!-- <div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="form-group">
					<h2>Forgot password</h2>
				</div>

				<div class="form-group">
					<label class="control-label" for="email">Enter the
						email </label> <input id="email" type="email" name="email"
						ng-model="user.email" 
						class="form-control">
				</div>

				<div class="form-group">
					<button id="submit" type="submit" ng-click="sendLink()"
						class="btn btn-success btn-block">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
 -->
 
<md-content flex layout="row" layout-align="space-around">
   <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33"> 
    <md-card-content>
      <form name="Form">
      
	      <md-input-container class="md-block"> <label>Email</label>
	       <input type="text" name="email" ng-model="user.email" /> 
	      </md-input-container>
	       <md-button  ng-click="log()" class="md-raised md-primary">&nbsp Reset &nbsp</md-button>
	   </form>
	 </md-card-content>
	</md-card>
</md-content>
	      
 